<div class="container">
  <header class="header">
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Toggle User Menu" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <h1>Meal Planner</h1>
    </mat-toolbar>
  </header>
  <mat-sidenav-container class="main">
    <mat-sidenav #drawer role="navigation" aria-label="User Menu">
      <div class="user-nav-wrapper">
        <h2>
          <span class="cdk-visually-hidden">
            Signed in as
          </span>

          Bob D'Errico
        </h2>

        <mat-nav-list>
          <a mat-list-item routerLink="/login">Sign Out</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content role="main">
      <div class="main-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>
    <mat-toolbar color="primary" role="navigation" aria-label="Main Menu">
      <div class="main-nav-wrapper">
        <a mat-icon-button routerLink="/list">
          <span class="button-wrapper">
            <mat-icon>list</mat-icon>
            <span class="button-text">Lists</span>
          </span>
        </a>

        <a mat-icon-button routerLink="/meal">
          <span class="button-wrapper">
            <mat-icon>restaurant</mat-icon>
            <span class="button-text">Meals</span>
          </span>
        </a>

        <a mat-icon-button routerLink="/plan">
          <span class="button-wrapper">
            <mat-icon>event</mat-icon>
            <span class="button-text">Plans</span>
          </span>
        </a>

        <a mat-icon-button routerLink="/recipe">
          <span class="button-wrapper">
            <mat-icon>lunch_dining</mat-icon>
            <span class="button-text">Recipes</span>
          </span>
        </a>

        <a mat-icon-button routerLink="/store">
          <span class="button-wrapper">
            <mat-icon>store</mat-icon>
            <span class="button-text">Stores</span>
          </span>
        </a>
      </div>
    </mat-toolbar>
  </footer>
</div>
